@import 'tailwindcss';

@font-face {
  font-family: 'AirbnbCereal';
  font-style: normal;
  font-display: swap;
  font-weight: 300;
  src: url('./assets/AirbnbCereal_W_Lt.woff2') format('woff2');
}

@font-face {
  font-family: 'AirbnbCereal';
  font-style: normal;
  font-display: swap;
  font-weight: 500;
  src: url('./assets/AirbnbCereal_W_Bk.woff2') format('woff2');
}

@font-face {
  font-family: 'AirbnbCereal';
  font-style: normal;
  font-display: swap;
  font-weight: 600;
  src: url('./assets/AirbnbCereal_W_Md.woff2') format('woff2');
}

@font-face {
  font-family: 'AirbnbCereal';
  font-style: normal;
  font-display: swap;
  font-weight: 700;
  src: url('./assets/AirbnbCereal_W_Bd.woff2') format('woff2');
}

@theme {
  --color-*: initial; /* This disables ALL default colors */
  --text-*: initial; /* This disables ALL default text */

  --font-family-body: 'AirbnbCereal', 'sans-serif';

  --color-black: #000000;
  --color-white: #ffffff;
  --color-primary: #ff385c;
  --color-primary-light: #e31c5f;
  --color-primary-dark: #e61e4d;
  --color-hof: #222222;
  --color-foggy: #6a6a6a;
  --color-bobo: #b0b0b0;
  --color-deco: #dddddd;
  --color-faint: #f7f7f7;
  --color-bebe: #ebebeb;
  --color-default-border: #ebebebcc;

  /* Scale font from 2.5rem to 3.75 rem between 740px and 1120px (https://clamp.font-size.app/)*/
  --text-large: clamp(2.5rem, 0rem + 6.6667vw, 3.75rem);
  --text-large--line-height: 1.11;
  --text-large--letter-spacing: -0.03em;
  --text-large--font-weight: var(--font-weight-bold);

  --text-medium: 1rem;
  --text-medium--line-height: 1.2;
  --text-medium--font-weight: var(--font-weight-semibold);

  --text-small: 0.875rem;
  --text-small--line-height: 1.2;
  --text-small--font-weight: var(--font-weight-medium);

  /* --input-background: linear-gradient(
    to var(--input_bgDirection),
    var(--input_backgroundFilledColor, var(--linaria-theme_palette-hof)) 0,
    var(--input_backgroundFilledColor, var(--linaria-theme_palette-hof))
      var(--input_progressPercentage),
    var(--input_backgroundEmptyColor, var(--linaria-theme_palette-bobo))
      var(--input_progressPercentage),
    var(--input_backgroundEmptyColor, var(--linaria-theme_palette-bobo)) 0
  ); */

  --header-height: 80px;

  --breakpoint-md: 46rem;
  --breakpoint-lg: 70rem;

  --container-sm: 35rem;
  --container-7xl: 90rem;

  --rounded-4xl: 40px;

  --blur-sm: 10px;

  --shadow-sm: rgba(0, 0, 0, 0.12) 0px 6px 16px;

  /* Slider thumb styles */
  --shadow-thumb: 0px 0px 0px 1px rgba(0, 0, 0, 0.02) 0px 2px 4px 0px
    rgba(0, 0, 0, 0.16);
  --filter-thumb: drop-shadow(3px 2px 3px rgba(0, 0, 0, 0.14));
}

@utility link-default {
  @apply underline;
}

@utility container-padding {
  @apply px-6 md:px-10 lg:px-20;
}

@layer base {
  html {
    text-rendering: optimizeLegibility;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
  }

  body {
    font-family: var(--font-family-body);
  }

  a,
  button {
    cursor: pointer;
  }

  /* Generic focus styles */
  button,
  a,
  input,
  select,
  textarea,
  [tabindex]:not([tabindex='-1']) {
    @apply outline-2 outline-offset-2 outline-transparent;
  }

  button:focus-visible,
  a:focus-visible,
  input:focus-visible,
  select:focus-visible,
  textarea:focus-visible,
  [tabindex]:not([tabindex='-1']):focus-visible {
    @apply outline-2 outline-offset-0 outline-black;
  }
}
